@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}
<link rel="stylesheet" href="~/css/ManagerHR.css" asp-append-version="true" />

@model IEnumerable<SpaceSoftSolutions.Models.Manager>

<h1 class="fw-bold text-dark text-center my-4" style="color:#3a4fb1">Managers</h1>

<div class="d-flex justify-content-center mb-4">
    <a asp-action="AddManager" asp-controller="ManagerHR" class="btn btn-primary" style="background-color: #3a4fb1; border-color: #3a4fb1;">Add New Manager</a>
</div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var m in Model)
        {
            <div class="col">
                <div class="card manager-card shadow-lg border-0 rounded-4 p-4 text-center" style="background-color: #f8f9fa;">
                    <div class="card-header bg-gradient-primary text-white rounded-top" style="background-color: #7A73D1;">
                        <h5 class="fw-semibold m-0">@m.Name</h5>
                    </div>
                    <div class="card-body">
                        <p class="text-muted m-0"><strong>ID:</strong> @m.Id</p>
                        <p class="text-muted m-0"><strong>Email:</strong> @m.Email</p>
                        @if (m.Department?.Name != null){
                        <p class="text-muted m-0"><strong>Department:</strong> @m.Department?.Name</p>
                        }

                    </div>
                    <div class="card-footer d-flex justify-content-between border-0 bg-transparent">
                        <a asp-action="Edit" asp-controller="ManagerHR" asp-route-id="@m.Id" class="btn btn-edit btn-sm">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a asp-action="Delete" asp-controller="ManagerHR" asp-route-id="@m.Id" class="btn btn-delete btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>