@model IEnumerable<SpaceSoftSolutions.Models.Employee>

@{
    ViewData["Title"] = "ShowEmployees";
}
@{
    Layout = "DashboardManagers";
}
<h1>ShowEmployees</h1>

<p>
    <a asp-action="CreateEmp">Create New</a> 
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.PasswordHash) *@
            @* </th> *@
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.GoogleId) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.PasswordHash) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.GoogleId) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>

            <td>
                 <a asp-action="ShowTasks" asp-route-id="@item.Id">Tasks</a> |
                 <a asp-action="ShowAttendance" asp-route-id="@item.Id">Attendence</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>

